.green {
  background: #00cccc;
}

* {
  font-family: Barlow;
  font-style: normal;
}

.bbest-header-agregadora {
  margin-top: 117px;
  margin-bottom: 0px !important;
}

.bbest-comparador-filters
  .details-card-depositos-ag
  .content
  .block
  .content-tagline {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000099;
}

.bbest-comparador-filters .details-card-depositos-ag .content .block h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #000099;
}

.details-card-depositos-ag .content .block p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0066ff;
  max-width: 244px;
  width: 90%;
}

.details-card-depositos-ag .content .block h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000099;
  max-width: 270px;
  width: 90%;
}

.details-card-depositos-ag .content .block .disable {
  width: 90%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5e737e;
}
.bbest-header-agregadora
  .container
  .row
  .col-12:last-child
  .content
  .boby-text-lg {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000099;
}

.bbest-btn-filter-toggle .content a {
  cursor: pointer;
  padding: 13px 45px 15px 45px;
  border: 1px solid #000099;
  box-sizing: border-box;
  border-radius: 23.6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000099;
  margin-right: 12px;
  background-color: none;
}

.content-select select {
  margin: 0;
  height: 48px;
  width: 100%;
  padding: 5px 20px 5px 20px;
  font-family: Barlow !important;
  font-style: normal !important;
  font-weight: 600 !important;
  color: #000099 !important;
  border: 1px solid #000099;
  box-sizing: border-box;
  border-radius: 23.6px;
}

.alert-box .content span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.3px;
  color: #000099;
}

.cards-filters .ag-contas-container .card-top-depositos .tanb-card-depositos {
  font-weight: 700 !important;
  font-size: 48px !important;
  line-height: 52px !important;
  text-align: center;
  color: #000099;
}

.bbest-comparador-filters .card-top-depositos .content .info-status-ag span {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000099;
}

.bbest-comparador-filters
  .ag-contas-container
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  .title-card-deposito {
  font-weight: 600;
  font-size: 32px !important;
  line-height: 38px;
  text-align: center;
  color: #000099;
  margin-top: 36px;
}

.bbest-comparador-filters
  .card-top-depositos
  .content
  .body-card-depositos
  .tagline {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0066ff;
  margin-top: 19px;
}

.bbest-comparador-filters
  .card-top-depositos
  .content
  .body-card-depositos
  .tanb-card-depositos {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #000099;
  margin-top: 10px;
}

.bbest-comparador-filters .card-top-depositos .content .body-card-depositos a {
  background: #0066ff;
  border-radius: 33px;
  width: 228px;
  height: 66px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  margin-bottom: 38px;
}

.bbest-comparador-filters .card-top-depositos .content .body-card-depositos p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #0066ff;
  margin-top: 8px;
}
.bbest-header-agregadora .container .row .col-12:last-child .content {
  max-width: 380px;
  float: right;
}

.ag-contas .content li a {
  padding: 13px 36px 15px 36px;
}

.opacity {
  opacity: 0;
}

.fixed-btn {
  z-index: 5;
  height: 207px;
}

.ag-contas-container .card-top-depositos .body-card-depositos a {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}

/* Btn filter */
.bbest-btn-filter-toggle {
  position: sticky;
  top: 67px;
  z-index: 5;
  height: 110px;
  background: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 67px;
  z-index: 5;
  height: 138px;
  display: flex;
  align-items: center;
}

.bbest-btn-filter-toggle li {
  list-style: none;
}

.bbest-btn-filter-toggle .content {
  display: flex;
  justify-content: center;
}

.bbest-btn-filter-toggle .content a:first-child {
  margin-left: 12px;
}

.bbest-btn-filter-toggle .content .active {
  color: #fff !important;
  background-color: #000099;
}

/* End btn filter */
/* Box Selector */
.bbest-btn-selector {
  display: none;
  margin-bottom: 16px !important;
  position: sticky;
  align-items: center;
  height: 125px;
  top: 66px;
  z-index: 5;
  background-color: #ffffff;
}

.bbest-btn-selector .container .row .col-6 {
  display: flex;
  justify-content: center;
}

.content-select {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.content-select .option {
  font-weight: 600;
  color: #000099;
}

.alert-box .container {
  display: flex;
  justify-content: flex-end;
}

.alert-box .content {
  padding: 14px 24px 18px 24px;
  height: 92px;
  opacity: 0;
  width: 267px;
  background: #ccccff;
  border: 1px solid #dfeaf2;
  box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  border-radius: 20px 20px 20px 0px;
}

.bbest-comparador-filters {
  min-height: 1744px;
  position: relative;
  width: 100%;
}

.bbest-comparador-filters .container-ag .row {
  display: flex;
  justify-content: center;
}

.bbest-comparador-filters .container-depositos-a-prazo .row {
  display: flex;
  justify-content: center;
}

.bbest-comparador-filters .bbest-background-depositos-ag {
  background: #dfeaf2;
  position: absolute;
  width: 100%;
  min-height: 1804px;
  margin-top: 105px;
}

.bbest-comparador-filters .container {
  position: relative !important;
}

.cards-filters .ag-contas-container .card-top-depositos {
  min-height: 348px;
  position: sticky;
  top: 113px;
  z-index: 5;
}

.cards-filters-contas .ag-contas-container .card-top-depositos {
  min-height: 348px;
  position: sticky;
  top: 195px;
  z-index: 5;
}

.bbest-comparador-filters .ag-contas-container .details-card-depositos-ag {
  min-height: 1210px;
}

.bbest-comparador-filters .card-top-depositos {
  background: #ffffff;
  border: 1px solid #dfeaf2;
  box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  border-radius: 20px;
  width: 380px;
  min-height: 525px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;
  position: sticky;
  top: 195px;
  z-index: 5;
}

.bbest-comparador-filters .card-top-depositos .card-shadow-blue {
  position: absolute;
  min-width: 95%;
  height: 73px;
  background: #000099;
  border-radius: 20px;
  margin-top: -8px;
}

.bbest-comparador-filters .card-top-depositos .content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  background-color: #fff;
}

.bbest-comparador-filters .card-top-depositos .content .info-status-ag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00cccc;
  border-radius: 13px;
  width: 124px;
  height: 26px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 14px;
}

.bbest-comparador-filters .card-top-depositos .content .info-blue {
  background: #6600cc;
  text-transform: uppercase;
}

.bbest-comparador-filters .card-top-depositos .content .info-blue span {
  color: #ffffff !important;
}

.bbest-comparador-filters .card-top-depositos .content .img-top-card {
  height: 141px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.bbest-comparador-filters.card-top-depositos .content .img-top-card img {
  width: 100%;
}

.bbest-comparador-filters .card-top-depositos .content .body-card-depositos {
  padding: 8px 50px 38px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bbest-comparador-filters
  .card-top-depositos
  .content
  .body-card-depositos
  .title-card-deposito {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000099;
}

.bbest-comparador-filters .card-top-depositos .content-sticky {
  /*height: 211px;*/
  width: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  border: 1px solid #dfeaf2;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  h2 {
  font-weight: 600;
  font-size: 20px !important;
  line-height: 24px !important;
  text-align: center;
  color: #000099;
  text-align: center;
  margin-top: 22px;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000099;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0066ff;
  margin-bottom: 18px;
  margin-top: 15px;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  a {
  background: #0066ff;
  border-radius: 23.6px;
  width: 228px;
  height: 48px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bbest-comparador-filters
  .card-top-depositos
  .content-sticky
  .body-card-depositos
  .title-card-deposito {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000099;
}

.bbest-comparador-filters .details-card-depositos-ag {
  background: #ffffff;
  border: 1px solid #dfeaf2;
  box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  border-radius: 20px;
  position: absolute;
  position: relative;
  min-height: 1461px;
  width: 99%;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin: 0 auto;
  margin-top: -52px;
}

.cards-filters-contas.details-card-depositos-ag {
  min-height: 1645px;
}

.bbest-comparador-filters .details-card-depositos-ag .card-shadow-blue-bottom {
  position: absolute;
  z-index: -1;
  min-width: 95%;
  height: 73px;
  background: #000099;
  border-radius: 20px;
  margin-bottom: -8px;
  bottom: -71px;
}

.bbest-comparador-filters .details-card-depositos-ag .content {
  position: absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  margin-top: 71px;
}

.bbest-comparador-filters .details-card-depositos-ag .content .block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-top: 52px;
  padding-bottom: 48px;
  padding-left: 43px;
  padding-right: 43px;
}

.bbest-comparador-filters .details-card-depositos-ag .content .block .line {
  position: absolute;
  bottom: 0;
  background: #c4d9eb;
  width: 40%;
  height: 1px;
}

#moeda-estrangeira {
  display: none;
}

#conta-poupanca {
  display: none;
}

#besttrading {
  display: none;
}

#contadigitalmais {
  display: none;
}

#startplus {
  display: none;
}

#nonresident {
  display: none;
}

@media (max-width: 1400px) {
  .ag-contas .content a:first-child {
    margin-left: 5px !important;
  }
  .ag-contas .content li a {
    padding: 9px 30px 9px 30px !important;
  }
}

@media (max-width: 1199.98px) {
  .bbest-comparador-filters .ag-contas-cards {
    min-height: 1622px;
  }

  .bbest-btn-filter-toggle .content a {
    font-size: 12px;
    margin-right: 0px;
  }

  .bbest-comparador-filters {
    min-height: 1186px;
  }

  .cards-filters-contas {
    min-height: 1452px;
  }

  .cards-filters-contas.bbest-background-depositos-ag {
    min-height: 1218px;
  }

  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1052px;
  }
  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1215px;
  }

  .bbest-comparador-filters .card-top-depositos .card-shadow-blue {
    height: 90px;
  }
  .bbest-comparador-filters .card-top-depositos .content .img-top-card {
    height: 115px;
  }
  .bbest-comparador-filters .card-top-depositos .content .body-card-depositos {
    padding: 8px 20px 14px 20px;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .title-card-deposito {
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    width: 70%;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .tagline {
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    margin-bottom: 4px;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .tanb-card-depositos {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .btn {
    width: 162px;
    height: 66px;
    margin-top: 0;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 26px;
  }
  .bbest-comparador-filters .details-card-depositos-ag {
    /* margin-top: 137px;*/
    min-height: 834px;
  }
  .bbest-comparador-filters
    .details-card-depositos-ag
    .card-shadow-blue-bottom {
    bottom: 0;
  }
  .bbest-comparador-filters .details-card-depositos-ag .content {
    margin-top: 0px;
  }
  .bbest-comparador-filters .details-card-depositos-ag .content .block {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .bbest-comparador-filters
    .details-card-depositos-ag
    .content
    .block
    .content-tagline {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 8px 8px 8px;
  }
  .bbest-comparador-filters .details-card-depositos-ag .content .block h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .bbest-comparador-filters .details-card-depositos-ag .content .block p {
    font-size: 12px;
    line-height: 16px;
  }
  .bbest-comparador-filters .details-card-depositos-ag .content .block h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
  .bbest-comparador-filters
    .details-card-depositos-ag
    .content
    .block
    .disable {
    font-size: 14px;
    line-height: 20px;
  }
  .ag-contas-container .details-card-depositos-ag {
    min-height: 846px !important;
  }
  .ag-contas-container .details-card-depositos-ag .content .block h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #000099;
  }

  .ag-contas-container .card-top-depositos {
    min-height: 348px;
  }
  .ag-contas-container .details-card-depositos-ag {
    min-height: 1210px;
    margin-top: 24px;
  }
  .ag-contas-container .card-top-depositos .body-card-depositos a {
    width: 90% !important;
  }
}

@media (max-width: 991.98px) {
  .bbest-comparador-filters
    .ag-contas-container
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    .title-card-deposito {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #000099;

    margin-top: 36px;
  }

  .bbest-comparador-filters .card-top-depositos .content-sticky {
    height: 168px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    p {
    margin-top: 9px;
    margin-bottom: 7px;
  }

  .bbest-comparador-filters .card-top-depositos .content .body-card-depositos {
    padding: 2px;
  }
  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    p {
    margin-bottom: 12px;
  }
  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1198px;
  }

  .bbest-comparador-filters .details-card-depositos-ag {
    min-height: 879px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    a {
    width: 90%;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    a {
    margin-top: 5px;
  }

  .bbest-btn-filter-toggle .content a {
    font-size: 11px;
    margin-right: 0px;
    padding: 7px 23px 9px 29px;
  }

  .ag-contas .content a:first-child {
    margin-left: 5px !important;
  }
  .ag-contas .content li a {
    padding: 9px 15px 9px 15px !important;
  }
}

@media (max-width: 767.98px) {
  .cards-filters-contas
    .ag-contas-container
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    .title-card-deposito {
    font-size: 20px;
    line-height: 24px;
  }

  .cards-filters-contas
    .card-top-depositos
    .content
    .body-card-depositos
    .title-card-deposito {
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    width: 90%;
  }

  .bbest-comparador-filters
    .ag-contas-container
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    .title-card-deposito {
    font-size: 20px !important;
  }

  .bbest-comparador-filters .card-top-depositos .content .img-top-card {
    height: 93px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .title-card-deposito {
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    width: 90%;
  }

  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1072px;
  }

  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1057px;
  }

  .cards-filters-contas .bbest-background-depositos-ag {
    min-height: 1246px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    a {
    margin-top: 47px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content-sticky
    .body-card-depositos
    a {
    width: 90%;
  }
  .bbest-btn-filter-toggle {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .bbest-comparador-filters .card-top-depositos .content .body-card-depositos {
    padding: 0px;
  }

  .bbest-comparador-filters
    .card-top-depositos
    .content
    .body-card-depositos
    .btn {
    width: 88%;
    height: 66px;
  }
}

@media (max-width: 400.98px) {
  .bbest-comparador-filters .bbest-background-depositos-ag {
    min-height: 1237px;
  }

  .bbest-comparador-filters .details-card-depositos-ag {
    min-height: 1042px;
  }

  .ag-contas-container .card-top-depositos .body-card-depositos a {
    width: 90% !important;
  }

  .ag-contas-container .details-card-depositos-ag {
    min-height: 872px !important;
  }
}